/* google font */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

/* tailwind + daisuiui */
@import "tailwindcss";
@plugin "daisyui";

.nav .active {
    background-color: #244D3F;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 16px;
}

body {
    font-family: "Geist", sans-serif;
}